fluxo_n8n_gabriel_reis_client.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"financeiro-whatsapp","options":{},"responseMode":"onReceived"},"id":"Webhook_Entrada","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[300,300]},{"parameters":{"functionCode":"const text = $json.Body || \"\";\nconst phone = $json.From || \"\";\n\nconst regex = /(gasto|receita)\\s+(\\d+[.,]?\\d*)\\s+(\\w+)/i;\nconst match = text.match(regex);\n\nif (!match) throw new Error(\"Formato de mensagem inválido.\");\n\nreturn [{\n  json: {\n    user_phone: phone.replace(\"whatsapp:\", \"\"),\n    type: match[1].toLowerCase() === \"gasto\" ? \"expense\" : \"income\",\n    amount: parseFloat(match[2].replace(\",\", \".\")),\n    category: match[3].toLowerCase(),\n    date: new Date().toISOString()\n  }\n}];"},"id":"Parse_Mensagem","name":"Parse Mensagem","type":"n8n-nodes-base.function","typeVersion":1,"position":[500,300]},{"parameters":{"url":"https://api.seusistema.com/lancamentos","method":"POST","authentication":"headerAuth","responseFormat":"json","options":{},"headerParameters":[{"name":"Authorization","value":"Bearer SUA_API_TOKEN"}],"bodyParametersUi":{"parameter":[{"name":"user_phone","value":"={{$json[\"user_phone\"]}}"},{"name":"type","value":"={{$json[\"type\"]}}"},{"name":"amount","value":"={{$json[\"amount\"]}}"},{"name":"category","value":"={{$json[\"category\"]}}"},{"name":"date","value":"={{$json[\"date\"]}}"}]}},"id":"Registrar_HTTP","name":"Registrar via API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[700,300]},{"parameters":{"from":"+55SEUNUMEROTWILIO","to":"={{$json[\"user_phone\"]}}","message":"={{\"✅ \" + ($json[\"type\"] === \"income\" ? \"Receita\" : \"Gasto\") + \" de R$\" + $json[\"amount\"].toFixed(2) + \" em \" + $json[\"category\"] + \" registrado com sucesso!\"}}","toWhatsapp":true},"id":"Responder_Usuario","name":"Enviar Confirmação","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[900,300],"credentials":{"twilioApi":"Twilio WhatsApp"}}],"connections":{"Webhook WhatsApp":[[{"node":"Parse Mensagem","type":"main","index":0}]],"Parse Mensagem":[[{"node":"Registrar via API","type":"main","index":0}]],"Registrar via API":[[{"node":"Enviar Confirmação","type":"main","index":0}]]},"active":true,"settings":{"timezone":"America/Sao_Paulo"},"name":"Financeiro WhatsApp AutoBot","versionId":"v1.0"}


